/* Fonts
   ----------------------------------------------------*/
@font-face {font-family:GPC; font-weight:300; font-style:normal;
  src:url('https://static.nd.edu/fonts/gp-min/gpc-book.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gpc-book.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gpc-book.ttf') format('truetype');
}
@font-face {font-family:GPC; font-weight:400; font-style:normal;
  src:url('https://static.nd.edu/fonts/gp-min/gpc-medium.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gpc-medium.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gpc-medium.ttf') format('truetype');
}
